.bi {
  --width: 1em;
  --icon: '';
  background-color: currentColor;
  display: inline-block;
  mask-size: var(--width) var(--width);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: var(--icon);
}
.bi::before {
  display: inline-block;
  content: '';
  width: var(--width);
}
.bi-fw {
  --width: 1.513333em;
}
.bi-blank {
  visibility: hidden;
}

.bi-save-fill {
  --icon: url('assets/bs-icons/save-fill.svg')
}
.bi-star-fill {
  --icon: url('assets/bs-icons/star-fill.svg')
}
.bi-star-half {
  --icon: url('assets/bs-icons/star-half.svg')
}
.bi-star {
  --icon: url('assets/bs-icons/star.svg')
}
.bi-plus-lg {
  --icon: url('assets/bs-icons/plus-lg.svg')
}
.bi-markdown {
  --icon: url('assets/bs-icons/markdown.svg')
}
.bi-link {
  --icon: url('assets/bs-icons/link.svg')
}
.bi-facebook {
  --icon: url('assets/bs-icons/facebook.svg')
}
.bi-twitter {
  --icon: url('assets/bs-icons/twitter.svg')
}
.bi-youtube {
  --icon: url('assets/bs-icons/youtube.svg')
}
.bi-check-lg {
  --icon: url('assets/bs-icons/check-lg.svg')
}
.bi-plus-circle {
  --icon: url('assets/bs-icons/plus-circle.svg')
}
